.auth {
    max-width: 350px;
    margin: 200px auto 0 auto;
}
.auth legend {
    font-size: 20px;
    color: #00542a;
    font-family: sans-serif;
}
.auth__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.auth__row label {
    color: #00542a;
    font-family: sans-serif;
}
.auth__text {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 15px;
}
.auth__check {
    height: 15px;
    color: #00542a;
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.auth__btn {
    margin: 0 auto;
    font-size: 15px;
    background-color: #00542a;
    color: white;
    padding: 7px 40px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
}
.auth__btn:hover {
    background: green;
    cursor: pointer;
}
.auth__btn:active {
    background: #00542a;
}
.auth__error {
    font-size: 12px;
    color: red;
    padding-top: 10px;
}